:root{
    --offcanvas-width:270px;
    --topNavbarHeight:56px;
}
.sidebar-nav{
    width: var(--offcanvas-width);
}
.sidebar-link{
    display: flex;
    align-items: center;
}
.sidebar-link .right-icon{
    display: inline-flex;
    transition: all ease .2s;
}
.sidebar-link[aria-expanded="true"] .right-icon{
    transform: rotate(180deg);
}
@media (min-width:992px){
body{
    overflow: auto !important;
}
.offcanvas-backdrop::before{
    display: none;
    opacity: none;
}
.sidebar-nav{
        transform: none;
        visibility: visible !important;
        top: var(--topNavbarHeight);
        height: calc(100% - var(--topNavbarHeight));

    }
main{
        margin-left: var(--offcanvas-width);
    }
}
body{
    font-family: 'Times New Roman', Times, serif;
    background: url(car\ 2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 23px;
}
span{
    color: white;
    text-decoration: none;
}
a{
    text-decoration: none;
}
.card{
    background: rgba(250, 249, 249, 0.288);
    border-left: 5px solid rgb(31, 76, 199);
    backdrop-filter: blur(10px);
}
.card-header{
    font-size: 20px;
    text-align: center;
    color: white;
}
.card-text{
    font-size: 25px;
    text-align: center;
    color: white;
}
