body::before{
    display: block;
    content: '';
    height: 60px;
}
body{
    background:url(photos/Admin\ Dashboard\ Background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

@media(min-width: 768px){
    .news-input{
        width: 50%;
    }
}
.sec1{
    background: rgba(250, 249, 249, 0.288);
    backdrop-filter: blur(10px);
}
.sec2{
    background: rgba(250, 249, 249, 0.288);
    backdrop-filter: blur(10px);
}
.nav-link{
    color: white;
}
.login-form{
    width: 500px;
    height: 300px;
   
}
.img{
    margin-top: 5%;
}